.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.magic-img {
    margin: 30px 30px;
    border: 10px solid black;
}

.magic-button {
    font-size: 72px;
    border: 5px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: #09ff00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(43, 37, 37);
}

.magic-button2 {
    font-size: 72px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #666;
}

.joke {
    font-size: 72px;
    font-family: monospace;
    text-align: center;
}